//- TODOthis table will need to display info on multiple books, one row for each book
//- TODO: pass in a booksTable array from select or filter query
//- TODO: iterate through booksTable
//- TODO: for each book.dataValues in booksTable, tr
//- TODO: for each element in book.dataValues, td
//- TODO: insert #{book_id} at end of each a(href="books/book_detail")
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year Released
  tbody
    each item in rowArray
      tr
        td(class="id")
        td
          a(href=`books/book_detail/${item.id}`)= item.title
        td= item.author
        td= item.genre
        td= item.first_published
