//- TODO: this table will show 1 book's loan details
//- TODO: pass in a bookDetials[0].dataValues object from select query
//- TODO: iterate through bookDetials[0].detailView object
//- TODO: only one tr
//- TODO: for each item in rowObject, td + value
//- TODO: insert route path/#{book_id} for each a(href="book_detail")
//- TODO: insert route path/#{patron_id} for each a(href="patron_detail")
//- table headings come from my custom locals.bookPg.columnArray
//- table data comes from sequelize findById select query on library.db/books table
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    tr
      td
        a(href=`books/book_detail/${rowArray.book_id}`)= rowArray.book_id
      td= rowArray.patron_id
      td= rowArray.loaned_on
      td= rowArray.return_by
      td= rowArray.returned_on
      td
        if rowArray.returned_on == null
          a(href="return_book.html" class="button") Return Book
