extends layout
//- passed in variables to fill-in tag textContents's, href url paths and css id's 
block content
  h1= title
  ul
    li(id=bookSectionId)
      p= booksTitle
      ul
        li
          a(href=newBookRoute) New Book
        li
          a(href=listAllBooksRoute) List All
        li
          a(href=listOverDueBooksRoute) List Overdue
        li
          a(href=listCheckedOutBooksRoute) List Checked Out
    li(id=patronSectionId)
      p= patronsTitle
      ul
        li
          a(href=newPatronRoute) New Patron
        li
          a(href=listAllPatronsRoute) List All
    li(id=loanSectionId)
      p= loansTitle
      ul
        li
          a(href=newLoanRoute) New Loan
        li
          a(href=listAllLoansRoute) List All
        li
          a(href=listOverDueLoansRoute) List Overdue
        li
          a(href=ListCheckedOutLoansRoute) List Checked Out
