table
  thead
    - var columnNo = 0;
    tr
      each value in columnArray
        if columnNo == 0
          th(class="id")= value
        if columnNo > 0
          th= value
        - columnNo += 1
  each element in rowArray
    - var i = 0;
    tr
      each item, index in element
          if i == 1
            td
              a(href=hrefPath)= item
          if i > 1
            td= item
          if i == 0
            td(class="id")= item
          - i += 1
