extends ../layout
//- create new Loan form template
block content
  h1= newFormTitle
  form(action="/loans", method="post")
    p
      label(for="book_id") Book
      select(id="book_id")
        - var counter = 1
        each item in books
          option(value=`${counter}`)= item.title
    p
      label(for="patron_id") Patron
      select(id="patron_id")
        - var counter = 1
        each item in patrons
          option(value=`${counter}`)= `${item.first_name} ${item.last_name}`
    p
      label(for="loaned_on") Loaned on:
      input(id="loaned_on" type="text" value=dateLoanedOn)
    p
      label(for="return_by") Return By:
      input(id="return_by" type="text" value=dateReturnBy)
    input(type="submit" value=`Create New Loans`)
