extends ../layout
//- create new Loan form template
block content
  h1= newFormTitle
  if errors
    form(action="/loans", method="post")
      p
        label(for="book_id") Book
        select( name="book_id" id="book_id")
          option(value='') Please choose a book
          each item in books
            option(value=`${item.id}`)= item.title
        each item in errors
          if item.path == 'book_id'
            span(class="inputErrMsg")= item.message
      p
        label(for="patron_id") Patron
        select(name="patron_id" id="patron_id")
          option(value='') Please choose a patron
          each item in patrons
            option(value=`${item.id}`)= `${item.first_name} ${item.last_name}`
        each item in errors
          if item.path == 'patron_id'
            span(class="inputErrMsg")= item.message
      p
        label(for="loaned_on") Loaned on:
        input(type="text" name="loaned_on" placeholder='yyyy-mm-dd' value=loan.loaned_on)
        each item in errors
          if item.path == 'loaned_on'
            if validatorKey == "isTodayDate"
              span(class="inputErrMsg")= item.message
            else
              span(class="inputErrMsg") Please enter a date, format: yyyy-mm-dd
      p
        label(for="return_by") Return By:
        input(type="text" name="return_by" placeholder='yyyy-mm-dd' value=loan.return_by)
        each item in errors
          if item.path == 'return_by'
            if item.validatorKey == 'plus7days'
              span(class="inputErrMsg")= item.message
            else
              span(class="inputErrMsg") Please enter a date, format: yyyy-mm-dd
      input(type="submit" value=`Create New Loan`)
  else
    form(action="/loans", method="post")
      p
        label(for="book_id") Book
        select( name="book_id" id="book_id")
          option(value='') Please choose a book
          each item in books
            option(value=`${item.id}`)= item.title
      p
        label(for="patron_id") Patron
        select(name="patron_id" id="patron_id")
          option(value='') Please choose a patron
          each item in patrons
            option(value=`${item.id}`)= `${item.first_name} ${item.last_name}`
      p
        label(for="loaned_on") Loaned on:
        input(type="text" name="loaned_on" placeholder='yyyy-mm-dd' value=dateLoanedOn)
      p
        label(for="return_by") Return By:
        input(type="text" name="return_by" placeholder='yyyy-mm-dd' value=dateReturnBy)
      input(type="submit" value=`Create New Loan`)
