//- TODO: this table will show 1 book's loan details
//- TODO: pass in a bookDetials[0].detailView object from select query
//- TODO: iterate through bookDetials[0].detailView object
//- TODO: only one tr
//- TODO: for each item in object, td + value
//- TODO: insert route path/#{book_id} for each a(href="book_detail")
//- TODO: insert route path/#{patron_id} for each a(href="patron_detail")
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    each item in loansRowArray
      tr
        td
          a(href=`/books/book_detail/${item.book_id}`)= item.Book.dataValues.title
        td
          a(href=`/patrons/patron_detail/${item.patron_id}`)= `${patronObject.first_name} ${patronObject.last_name}`
        td= item.loaned_on
        td= item.return_by
        td= item.returned_on
        td
          if item.returned_on == null
            a(href=`/return/return_book/${item.book_id}` class="button") Return Book
