//- TODO: this table will show 1 book's loan details
//- TODO: pass in a bookDetials[0].detailView object from select query
//- TODO: iterate through bookDetials[0].detailView object
//- TODO: only one tr
//- TODO: for each item in object, td + value
//- TODO: insert route path/#{book_id} for each a(href="book_detail")
//- TODO: insert route path/#{patron_id} for each a(href="patron_detail")
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    tr
      td
        a(href=`/books/book_detail/${rowArray.book_id}`)= rowArray.book_id
      td
        a(href=`/patrons/patron_detail/${patron_id}`)=  rowArray.patron_id
      td= rowArray.loaned_on
      td= rowArray.return_by
      td= rowArray.returned_on
      td
        if rowArray.returned_on == null
          a(href=`/return/return_book/${book_id}` class="button") Return Book
