//- TODO: this table will need to display info on multiple loans, one row for each loan
//- TODO: pass in a loansTable from select or filter query
//- TODO: iterate through loansTable
//- TODO: for each loan.detailView in loansTable, tr
//- TODO: for each item in loan.detailView, td + value
//- TODO: insert route path/#{book_id} for each a(href="book_detail")
//- TODO: insert route path/#{patron_id} for each a(href="patron_detail")
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    each item in rowArray
      tr
        td
          a(href=`${bookHrefPath}/${item.id}`)= item.title
        td
          a(href=`${patronHrefPath}/${item.Loan.Patron.id}`)= `${item.Loan.Patron.first_name} ${item.Loan.Patron.last_name}`
        td= item.Loan.loaned_on
        td= item.Loan.return_by
        td= item.Loan.returned_on
        td
          if item.Loan.returned_on.length == 0
            a(href="/return/return_book/book_id" class="button") Return Book
//-
    tr
      td
        a(href="/books/book_detail.html") Emma
      td
        a(href="/patrons/patron_detail.html") Dave McFarland
      td 2015-12-10
      td 2020-10-20
      td
      td
        a(href="/return/return_book" class="button") Return Book
    tr
      td
        a(href="/books/book_detail.html") Harry Potter and the Goblet of Fire
      td
        a(href="/patrons/patron_detail.html") Andrew Chalkley
      td 2015-12-11
      td 2015-12-18
      td
      td
        a(href="/return/return_book" class="button") Return Book
    tr
      td
        a(href="/books/book_detail.html") A Brief History of Time
      td
        a(href="/patrons/patron_detail.html") Andrew Chalkley
      td 2015-12-12
      td 2015-12-19
      td
      td
        a(href="/return/return_book" class="button") Return Book
    tr
      td
        a(href="/books/book_detail.html") The Universe in a Nutshell
      td
        a(href="/patrons/patron_detail.html") Alena Holligan
      td 2015-12-13
      td 2015-12-20
      td
      td
        a(href="/return/return_book" class="button") Return Book
    tr
      td
        a(href="/books/book_detail.html") The Martian
      td
        a(href="/patrons/patron_detail.html") Michael Poley
      td 2015-12-13
      td 2015-12-20
      td 2015-12-17
      td
