//- template for Loans table on Loans page
if !pagesArray
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each item in rowArray
        tr
          td
            a(href=`${bookHrefPath}/${item.id}`)= item.title
          td
            a(href=`${patronHrefPath}/${item.Loan.Patron.id}`)= `${item.Loan.Patron.first_name} ${item.Loan.Patron.last_name}`
          td= item.Loan.loaned_on
          td= item.Loan.return_by
          td= item.Loan.returned_on
          td
            if item.Loan.returned_on == null || item.Loan.returned_on.length == 0
              - var loanId = item.Loan.id
              include ../reusable/returnBookButton
else
  - var tablePageIndex = 1
  each page in pagesArray
    table(class='pagedTable' id=`page${tablePageIndex}`)
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        each item in page
          tr
            td
              a(href=`${bookHrefPath}/${item.id}`)= item.title
            td
              a(href=`${patronHrefPath}/${item.Loan.Patron.id}`)= `${item.Loan.Patron.first_name} ${item.Loan.Patron.last_name}`
            td= item.Loan.loaned_on
            td= item.Loan.return_by
            td= item.Loan.returned_on
            td
              if item.Loan.returned_on == null || item.Loan.returned_on.length == 0
                - var loanId = item.Loan.id
                include ../reusable/returnBookButton
    - tablePageIndex += 1
