extends ../layout
//- more reusable templates and passed in variables
block content
  h1= newFormTitle
  if newFormTitle === "New Book"
    - var columnNo = 0;
    form(action="/books", method="post")
      - console.log(columnArray)
      each value in columnArray
        if columnNo == 0
           p(class="id")
        else if columnNo > 0
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=book.value)
        - columnNo += 1
      input(type="submit" value=`Create New ${title}`)
  else if newFormTitle === "New Patron"
    - var columnNo = 0;
    form(action="/patrons", method="post")
      - console.log(columnArray)
      each value in columnArray
        if columnNo == 0
           p(class="id")
        else if columnNo > 0
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text")
        - console.log(columnNo, columnArray[columnNo])
        - columnNo += 1
      input(type="submit" value=`Create New ${title}`)
