extends ../layout
//- more reusable templates and passed in variables
block content
  h1= newFormTitle
  if newFormTitle === "New Book"
    - var columnNo = 0;
    form(action="/books", method="post")
      - console.log(columnArray)
      each value in columnArray
        if columnNo == 0
           p(class="id")
        else if columnNo > 0
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=book.value)
        - columnNo += 1
      input(type="submit" value=`Create New ${title}`)
  else if newFormTitle === "New Patron"
    - var columnNo = 0;
    form(action="/patrons", method="post")
      - console.log(columnArray)
      each value in columnArray
        if columnNo == 0
           p(class="id")
        else if columnNo > 0
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text")
        - console.log(columnNo, columnArray[columnNo])
        - columnNo += 1
      input(type="submit" value=`Create New ${title}`)
  else if newFormTitle === "New Loan"
    - var columnNo = 0;
    form(action="/loans", method="post")
      - console.log(columnArray)
      each value in columnArray
        if columnNo == 0
           p(class="id")
        else if columnNo == 1
           p
             label(for="book_id") Book
             select(id="book_id")
               - var counter = 1
               each item in books
                 option(value=`${counter}`)= item.title
        else if columnNo == 2
           p
             label(for="patron_id") Patron
             select(id="patron_id")
             - var counter = 1
             each item in patron
               option(value=`${counter}`)= `${item.first_name} ${item.last_name}`
        else if columnNo == 3
           p
            label(for="loaned_on") Loaned on:
            input(id="loaned_on" type="text" value="Sun May 22 2016 17:00:00 GMT-0700 (PDT)")
        else if columnNo == 4
           p
            label(for="return_by") Return by:
            input(id="return_by" type="text" value="Sun May 29 2016 17:00:00 GMT-0700 (PDT)")
        - console.log(columnNo, columnArray[columnNo])
        - columnNo += 1
      input(type="submit" value=`Create New ${title}`)
