table
  thead
    - var columnNo = 0;
    tr
      each value in columnArray
        if columnNo == 0
          th(class="id")= value
        if columnNo > 0
          th= value
        - columnNo += 1
    each element in rowArray
      - var rowCellNo = 0;
      - var actionsItem = '';
      tr
        each item in element
            - console.log(index, item)
            if rowCellNo == 0
              td(class="id")= item.dataValues.id
            else if rowCellNo == 1
                if title == "Books" || title == "Loans"
                  td
                    a(href=bookHrefPath + '/' + item.dataValues.id)= item.dataValues.title
                if title == "Patrons"
                  td
                    a(href=patronHrefPath + '/' + item.dataValues.id)= item.dataValues.patron
            else if rowCellNo == 2
                if title == "Loans"
                  td
                    a(href=patronHrefPath)= item.dataValues.patron
            else if rowCellNo == 3
                 td= item.dataValues.loaned_on
            else if rowCellNo == 4
                 td= item.dataValues.return_by
            else if rowCellNo == 5
                 td= item.dataValues.returned_on
                 if item.dataValues.return_by == Null
                   td
                     a(href=actionHrefPath + '/' + item.item.dataValues.id class="button")
            - rowCellNo += 1
