form
  if title == "Book"
    - var columnNo = 0;
    - console.log(columnArray, rowArray)
    each value in columnArray
      - console.log(`columnNo: ${columnNo}\n value: ${value}`)
      if columnNo == 0
         p(class="id")
      else if columnNo == 1
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.book)
      else if columnNo == 2
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.patron)
      else if columnNo == 3
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.loanedon)
      else if columnNo == 4
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.returnby)
      else if columnNo == 5
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.returnedon)
      else if columnNo == 6
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` type="text" value=patronObject.action)
      //- console.log(columnNo, columnArray[columnNo])
      - columnNo += 1
    input(type="submit" value=`Update`)
  else if title == "Patron"
    - var columnNo = 0;
    - console.log(columnArray, rowArray)
    each value in columnArray
      if columnNo == 0
         p(class="id")
      else if columnNo == 1
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=`${patronObject.first_name} ${patronObject.last_name}`)
      else if columnNo == 2
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.address)
      else if columnNo == 3
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.email)
      else if columnNo == 4
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.library_id)
      else if columnNo == 5
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.zip_code)
      - columnNo += 1
    input(type="submit" value=`Update ${title}`)
