if title == "Book"
  if errors
    form(action="/books/update", method="post")
      p(class="id")
        label(for=`${value}`)= value
        input(id=`${value}` type="text" name='id' value=updatedBookInfo.id)
      p
        label(for=`${book.title.toLowerCase()}`) Title
        input(id=`${book.title.toLowerCase()}` type="text" name='title' value=updatedBookInfo.title)
        each item in errors
          if item.path == 'title'
            span(class="inputErrMsg")= item.message
      p
        label(for=`${book.author.toLowerCase()}`) Author
        input(id=`${book.author.toLowerCase()}` type="text" name='author' value=updatedBookInfo.author)
        each item in errors
          if item.path == 'author'
            span(class="inputErrMsg")= item.message
      p
        label(for=`${book.genre.toLowerCase()}`) Genre
        input(id=`${book.genre.toLowerCase()}` type="text" name='genre' value=updatedBookInfo.genre)
        each item in errors
          if item.path == 'genre'
            span(class="inputErrMsg")= item.message
      p
        label(for=`${book.first_published}`) First Published
        input(id=`${book.first_published}` type="text" name='first_published' value=updatedBookInfo.first_published)
        each item in errors
          if item.path == 'first_published'
            span(class="inputErrMsg")= item.message
      input(type="submit" value=`Update`)
  else
    form(action="/books/update", method="post")
      p(class="id")
        label(for=`${value}`)= value
        input(id=`${value}` type="text" name='id' value=book.id)
      p
        label(for=`${book.title.toLowerCase()}`) Title
        input(id=`${book.title.toLowerCase()}` type="text" name='title' value=book.title)
      p
        label(for=`${book.author.toLowerCase()}`) Author
        input(id=`${book.author.toLowerCase()}` type="text" name='author' value=book.author)
      p
        label(for=`${book.genre.toLowerCase()}`) Genre
        input(id=`${book.genre.toLowerCase()}` type="text" name='genre' value=book.genre)
      p
        label(for=`${book.first_published}`) First Published
        input(id=`${book.first_published}` type="text" name='first_published' value=book.first_published)
      input(type="submit" value=`Update`)
else if title == "Patron"
  if errors
    form(action="/patrons/update", method="post")
      - var columnNo = 0;
      each value in columnArray
        if columnNo == 0
          p(class="id")
            label(for=`${value}`)= value
            input(id=`${value}` name='id' type="text" value=`${submitData.id}`)
        else if columnNo == 1
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='first_name' type="text" placeholder=patronObject.first_name value=`${submitData.first_name}`)
            each item in errors
              if item.path == 'first_name'
                span(class="inputErrMsg")= item.message
        else if columnNo == 2
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='last_name' type="text" placeholder=patronObject.last_name value=`${submitData.last_name}`)
            each item in errors
              if item.path == 'last_name'
                span(class="inputErrMsg")= item.message
        else if columnNo == 3
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='address' type="text" placeholder=patronObject.address value=submitData.address)
            each item in errors
              if item.path == 'address'
                span(class="inputErrMsg")= item.message
        else if columnNo == 4
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='email' type="text" placeholder=patronObject.email value=submitData.email)
            each item in errors
              if item.path == 'email'
                span(class="inputErrMsg") Please enter a valid email address
        else if columnNo == 5
          p
            label(for=`${value.toLowerCase()}`)= value
            input(name='library_id'  type="text" placeholder=patronObject.library_id value=submitData.library_id)
            each item in errors
              if item.path == 'library_id'
                span(class="inputErrMsg")= item.message
        else if columnNo == 6
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='zip_code' type="text" placeholder=patronObject.zip_code value=submitData.zip_code)
            each item in errors
              if item.path == 'zip_code'
                span(class="inputErrMsg")= item.message
        - columnNo += 1
      input(type="submit" value=`Update ${title}`)
  else
    form(action="/patrons/update", method="post")
      - var columnNo = 0;
      each value in columnArray
        if columnNo == 0
          p(class="id")
            label(for=`${value}`)= value
            input(id=`${value}` name='id' type="text" value=`${patronObject.id}`)
        else if columnNo == 1
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='first_name' type="text" value=`${patronObject.first_name}`)
        else if columnNo == 2
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='last_name' type="text" value=`${patronObject.last_name}`)
        else if columnNo == 3
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='address' type="text" value=patronObject.address)
        else if columnNo == 4
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='email' type="text" value=patronObject.email)
        else if columnNo == 5
          p
            label(for=`${value.toLowerCase()}`)= value
            input(name='library_id'  type="text" placeholder=patronObject.library_id value=patronObject.library_id)
        else if columnNo == 6
          p
            label(for=`${value.toLowerCase()}`)= value
            input(id=`${value.toLowerCase()}` name='zip_code' type="text" value=patronObject.zip_code)
        - columnNo += 1
      input(type="submit" value=`Update ${title}`)
