
if title == "Book"
  form(action="/books/update", method="post")
    p(class="id")
      label(for=`${value}`)= value
      input(id=`${value}` type="text" name='id' value=book.id)
    p
      label(for=`${book.title.toLowerCase()}`) Title
      input(id=`${book.title.toLowerCase()}` type="text" name='title' value=book.title)
    p
      label(for=`${book.author.toLowerCase()}`) Author
      input(id=`${book.author.toLowerCase()}` type="text" name='author' value=book.author)
    p
      label(for=`${book.genre.toLowerCase()}`) Genre
      input(id=`${book.genre.toLowerCase()}` type="text" name='genre' value=book.genre)
    p
      label(for=`${book.first_published}`) First Published
      input(id=`${book.first_published}` type="text" name='first_published' value=book.first_published)
    input(type="submit" value=`Update`)
else if title == "Patron"
  form(action="/patrons/update", method="post")
    - var columnNo = 0;
    - console.log(columnArray, rowArray)
    each value in columnArray
      if columnNo == 0
        p(class="id")
          label(for=`${value}`)= value
          input(id=`${value}` name='id' type="text" value=`${patronObject.id}`)
      else if columnNo == 1
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='first_name' type="text" value=`${patronObject.first_name}`)
      else if columnNo == 2
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='last_name' type="text" value=`${patronObject.last_name}`)
      else if columnNo == 3
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='address' type="text" value=patronObject.address)
      else if columnNo == 4
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='email' type="text" value=patronObject.email)
      else if columnNo == 5
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='library_id' type="text" value=patronObject.library_id)
      else if columnNo == 6
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` name='zip_code' type="text" value=patronObject.zip_code)
      - columnNo += 1
    input(type="submit" value=`Update ${title}`)
