form
  if title == "Book"
    p
      label(for=`${book.title.toLowerCase()}`) Title
      input(id=`${book.title.toLowerCase()}` type="text" value=book.title)
    p
      label(for=`${book.author.toLowerCase()}`) Author
      input(id=`${book.author.toLowerCase()}` type="text" value=book.author)
    p
      label(for=`${book.genre.toLowerCase()}`) Genre
      input(id=`${book.genre.toLowerCase()}` type="text" value=book.genre)
    p
      label(for=`${book.first_published}`) First Published
      input(id=`${book.first_published}` type="text" value=book.first_published)
    input(type="submit" value=`Update`)
  else if title == "Patron"
    - var columnNo = 0;
    - console.log(columnArray, rowArray)
    each value in columnArray
      if columnNo == 0
         p(class="id")
      else if columnNo == 1
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=`${patronObject.first_name} ${patronObject.last_name}`)
      else if columnNo == 2
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.address)
      else if columnNo == 3
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.email)
      else if columnNo == 4
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.library_id)
      else if columnNo == 5
        p
          label(for=`${value.toLowerCase()}`)= value
          input(id=`${value.toLowerCase()}` type="text" value=patronObject.zip_code)
      - columnNo += 1
    input(type="submit" value=`Update ${title}`)
