extends ../layout
//- create new Patron form template
block content
  h1= newFormTitle
  form(action="/patrons", method="post")
    p
      label(for=first_name) First Name
      input(name='first_name' type="text" value=patrons.dataValues.first_name)
      if errors
        each item in errors
          if item.path == 'first_name'
            span(class="inputErrMsg")= item.message
    p
      label(for=last_name) Last Name
      input(name='last_name' type="text" value=patrons.dataValues.last_name)
      if errors
        each item in errors
          if item.path == 'last_name'
            span(class="inputErrMsg")= item.message
    p
      label(for=address) Address
      input(name='address' type="text" value=patrons.dataValues.address)
      if errors
        each item in errors
          if item.path == 'address'
            span(class="inputErrMsg")= item.message
    p
      label(for=email) Email
      input(name='email' type="text" value=patrons.dataValues.email)
      if errors
        each item in errors
          if item.path == 'email'
            span(class="inputErrMsg") There is something wrong with this email address
    p
      label(for=library_id) Library ID:
        span(class='autosetLabel')= `${value=patrons.dataValues.library_id}`
      input(class="autoSetField" name='library_id' type="text" value=patrons.dataValues.library_id)
    p
      label(for=zip_code) Zip Code
      input(name='zip_code' type="text" value=patrons.dataValues.zip_code)
      if errors
        each item in errors
          if item.path == 'zip_code'
            span(class="inputErrMsg")= item.message
    input(type="submit" value=`Create New Patron`)
