//- this table shows patron's loan details
//- patron may have more than 1 loan
//- table shows name of book, with a link to that book's detail view
//- repeated info: name of patron, with link to same patron's detail view
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    if loansArray != null
      each item in loansArray
        tr
          td
            a(href=`/books/book_detail/${item.book_id}`)= item.Book.dataValues.title
          td
            a(href=`/patrons/patron_detail/${item.patron_id}`)= `${patronObject.first_name} ${patronObject.last_name}`
          td= item.loaned_on
          td= item.return_by
          td= item.returned_on
          td
            if item.returned_on == null
              a(href=`/return/return_book/${item.book_id}` class="button") Return Book
    else
      tr
        td This patron has no loan history
        td
          a(href=`/patrons/patron_detail/${patronObject.id}`)= `${patronObject.first_name} ${patronObject.last_name}`
        td
        td
        td
        td
