//- template for patrons table on patrons page
if !pagesArray
  table
    thead
      tr
        th Name
        th Address
        th Email
        th Library ID
        th Zip
    tbody
      each item in rowArray
        tr
          td
            a(href=`${patronHrefPath}/${item.id}`)= item.first_name + ' ' + item.last_name
          td= item.address
          td= item.email
          td= item.library_id
          td= item.zip_code
else
  - var tablePageIndex = 1
  each page in pagesArray
    table(class='pagedTable' id=`page${tablePageIndex}`)
      thead
        tr
          th Name
          th Address
          th Email
          th Library ID
          th Zip
      tbody
        each item in page
          tr
            td
              a(href=`${patronHrefPath}/${item.id}`)= item.first_name + ' ' + item.last_name
            td= item.address
            td= item.email
            td= item.library_id
            td= item.zip_code
    - tablePageIndex += 1
